# Bài tập 4 - Tổng quan học máy

*(Thống kê máy tính và ứng dụng - ĐTTX Kì 1 2023-2024)*

MSSV: 20810229

Họ và tên: Mai Đình Thái Sơn

Bài tập này thực hiện trên bộ dữ liệu `Auto MPG` (https://archive.ics.uci.edu/dataset/9/auto+mpg) với các yêu cầu sau.

In [1]:
import numpy as np
import pandas as pd
#pip3 install scikit-learn
import sklearn
sklearn.__version__
import warnings as warning
warning.filterwarnings('ignore')

## Yêu cầu 1 (1.5 đ)

1. Mô tả bộ dữ liệu.

2. Nạp bộ dữ liệu.

<style>
h3.title {
  color: #00ff00;
  background-color: black;
}

p.content {
  color: #00ff00;
}
p.describe {
  color: #FFFF00;
}
</style>
<h3 class='title'>Mô tả dữ liệu</h3>
<p class='content'><b>Đây là bộ dữ liệu kỹ thuật về xe hơi</b> được lấy từ thư viện StatLib thuộc Đại Học Carnegie Mellon University<br/>
được sử dụng lần đầu tiên vào 1983 ở triễn lãm hiệp hội thống kê Hoa Kỳ</p>
<p>Tập dữ liệu này là phiên bản sửa đổi một chút của tập dữ liệu được cung cấp trong
thư viện StatLib.<br/> Phù hợp với việc sử dụng của Ross Quinlan (ông là một nghiên cứu khoa học máy tính trong lĩnh vực data mining và lý thuyết quyết định) <br/>trong
dự đoán thuộc tính "mpg", 8 trường hợp 'origin' đã bị xóa
vì chúng có giá trị không xác định cho thuộc tính "mpg".

"Dữ liệu liên quan đến mức tiêu thụ nhiên liệu trong chu trình thành phố tính bằng dặm trên gallon,
được dự đoán theo 3 giá trị rời rạc đa giá trị và 5 giá trị liên tục
thuộc tính." (Quinlan, 1993)</p>
<p>Bộ dữ liệu có 398 dòng và 9 cột được thống kê từ năm 1970 đến 1982. Bao gồm</p>
<ol>
    <li>mpg</li><li>cylinders</li><li>displacement</li><li>horsepower</li><li>weight</li><li>acceleration</li><li>model year</li><li>origin</li><li>car name</li>
</ol>
Với:
<p class='describe'>mgp (mile per gallon): mức tiêu hao nhiên liệu tính bằng mile (1 mile = 1.6km, 1 gallon = 3,78l)<br/>
cylinders: số lượng xi-lanh của xe<br/>
displacement: Dung tích động cơ, đơn vị cubic centimeter (cc)<br/>
horsepower: mã lực<br/>
weight: trọng lượng (kg) của xe khi không tải<br/>
acceleration: thời gian (giây) cần để tăng tốc lên 100km/h<br/>
model year: đời xe <br/>
origin: Nơi xe được sản xuất <b>0: Bắc Mỹ, 1: Châu Âu, 2: Châu Á</b><br/>
car name: tên của xe<br/>

<h3>Nạp bộ dữ liệu</h3>

In [2]:
auto_names = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration","model_year","origin","car_name"]
auto_mpg = pd.read_csv('auto-mpg.data', delim_whitespace=True, skiprows = 0,names=auto_names)
auto_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

# Yêu cầu 2 (2.5 đ)

Phân tích thăm dò dữ liệu với biến mục tiêu là

1. `mpg`

2. `origin`

<h3>Phân tích thăm dò dữ liệu (Exploratory Data Analysis) với biến <b>mpg</b></h3>

In [3]:
auto_mpg.shape
#398 dòng, 9 cột

(398, 9)

In [4]:
auto_mpg.describe(include='all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

In [5]:
auto_mpg.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
mpg,398.0,NaN,NaN,NaN,23.514573,7.815984,9.0,17.5,23.0,29.0,46.6
cylinders,398.0,NaN,NaN,NaN,5.454774,1.701004,3.0,4.0,4.0,8.0,8.0
displacement,398.0,NaN,NaN,NaN,193.425879,104.269838,68.0,104.25,148.5,262.0,455.0
horsepower,398,94,150.0,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weight,398.0,NaN,NaN,NaN,2970.424623,846.841774,1613.0,2223.75,2803.5,3608.0,5140.0
acceleration,398.0,NaN,NaN,NaN,15.56809,2.757689,8.0,13.825,15.5,17.175,24.8
model_year,398.0,NaN,NaN,NaN,76.01005,3.697627,70.0,73.0,76.0,79.0,82.0
origin,398.0,NaN,NaN,NaN,1.572864,0.802055,1.0,1.0,1.0,2.0,3.0
car_name,398,305,ford pinto,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
auto_mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [7]:
auto_mpg.nunique()

mpg             129
cylinders         5
displacement     82
horsepower       94
weight          351
acceleration     95
model_year       13
origin            3
car_name        305
dtype: int64

In [8]:
#check NA value
auto_mpg.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [9]:
#check null
auto_mpg.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [18]:
#check ? value
auto_mpg.isin(['?']).sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [22]:
#Lấy ra những dòng có horsepower là '?' và thay thế bằng horsepower
#trung bình của nhãn hiệu xe đó
horsepower=auto_mpg.loc[auto_mpg['horsepower'] == '?']
horsepower[['horsepower','car_name']]

Empty DataFrame
Columns: [horsepower, car_name]
Index: []

In [21]:
# Lấy danh sách xe ford có horsepower = ?
ford_car=horsepower.loc[horsepower['car_name'].str.contains('ford')]
# Lấy horsepower của tất cả xe ford
ford_horsepower = auto_mpg.loc[(auto_mpg['car_name'].str.contains('ford', case= False)) & (auto_mpg['horsepower'] != '?')]
# Ép kiểu horsepower từ object sang float
ford_horsepower['horsepower'] = ford_horsepower['horsepower'].astype(float)
# Lấy horsepower trung bình của xe ford
avg_ford = ford_horsepower['horsepower'].mean()
# Thay thế các giá trị horsepower = ? của xe ford bằng giá trị trung bình này
indices = ford_car['horsepower'].index.values.tolist()
auto_mpg.loc[indices,'horsepower'] = np.around(avg_ford,2)
auto_mpg[['horsepower','car_name']].iloc[[336]]

     horsepower            car_name
336      112.23  ford mustang cobra

In [23]:
# Lấy danh sách xe renault có horsepower = ?
renault_car=horsepower.loc[horsepower['car_name'].str.contains('renault')]
# Lấy horsepower của tất cả xe renault
renault_horsepower = auto_mpg.loc[(auto_mpg['car_name'].str.contains('renault', case= False)) & (auto_mpg['horsepower'] != '?')]
# Ép kiểu horsepower từ object sang float
renault_horsepower['horsepower'] = renault_horsepower['horsepower'].astype(float)
# Lấy horsepower trung bình của xe renault
avg_renault = renault_horsepower['horsepower'].mean()
# Thay thế các giá trị horsepower = ? của xe renault bằng giá trị trung bình này
indices = renault_car['horsepower'].index.values.tolist()
auto_mpg.loc[indices,'horsepower'] = np.around(avg_renault,2)
auto_mpg[['horsepower','car_name']].iloc[[354]]

     horsepower     car_name
354        70.0  renault 18i

In [24]:
# Lấy danh sách xe amc có horsepower = ?
amc_car=horsepower.loc[horsepower['car_name'].str.contains('amc')]
# Lấy horsepower của tất cả xe amc
amc_horsepower = auto_mpg.loc[(auto_mpg['car_name'].str.contains('amc', case= False)) & (auto_mpg['horsepower'] != '?')]
# Ép kiểu horsepower từ object sang float
amc_horsepower['horsepower'] = amc_horsepower['horsepower'].astype(float)
# Lấy horsepower trung bình của xe amc
avg_amc = amc_horsepower['horsepower'].mean()
# Thay thế các giá trị horsepower = ? của xe amc bằng giá trị trung bình này
indices = amc_car['horsepower'].index.values.tolist()
auto_mpg.loc[indices,'horsepower'] = np.around(avg_amc,2)
auto_mpg[['horsepower','car_name']].iloc[[374]]

     horsepower        car_name
374       114.7  amc concord dl

In [25]:
#Kiểm tra lại
auto_mpg.isin(['?']).sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [26]:
#check dtype of all columns
auto_mpg.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

In [17]:
#Chuyền kiểu dữ liệu cột horsepower từ object sang float
auto_mpg['horsepower'] = auto_mpg['horsepower'].astype(float)

## Yêu cầu 3 (3 đ)

Phân tích biến `mpg` theo các biến khác.

## Yêu cầu 4 (3 đ)

Phân tích biến `origin` theo các biến khác.